@*@page "/searchfield"*@

@code {
    const string DefaultBackgroundControls = "background: rgba(200, 200, 200, 0.9);";

    static string DefaultControlsLayoutRemWidthPx(double leftRem = 0.0, int width = 0)
    {
        string leftRemString = $"{leftRem.ToString(CultureInfo.InvariantCulture)}";
        string remWidthString = $"{((leftRem == 0.0 && width == 0) ? String.Empty : $"margin-left: {leftRemString}rem; width:{width}px")}";
        return $"border: 0; align-self: center; {remWidthString}";
    }

    static readonly string DefaultControlsLayout = DefaultControlsLayoutRemWidthPx(0.0, 0);

    const string ButtonRed = "color:black; background: rgba(255, 150, 150, 0.9);";
    const string ButtonGreen = "color:black; background: rgba(150, 255, 150, 0.9);";
    static string ButtonRedDefaultLayout => ButtonRed + DefaultControlsLayout;
    static string ButtonGreenDefaultLayout => ButtonGreen + DefaultControlsLayout;
    static string DefaultControlStyle => DefaultBackgroundControls + DefaultControlsLayout;

    const string TopScaled = "margin-top: 0.5rem; transform: scale(0.8);";
    static readonly string DefaultControlStyleTopScaled = DefaultControlStyle + TopScaled;
}

@* ReSharper disable UnknownCssClass *@

<div class="input-group defpadding" style="align-self: center">
    <div class="input-group-prepend search-margin">
        <MatButton style="@ButtonBackground" Raised="true" @onclick="ButtonSearchOrAbort">@ButtonContent</MatButton>
        <MatProgressBar Indeterminate="true" Closed="@Is" style="@DefaultControlsLayoutRemWidthPx(1.5, 30)"></MatProgressBar>
        <MatTextField style="@DefaultControlStyleTopScaled" TValue="string" Label="Search For" @bind-Value="@Text"></MatTextField>
    </div>

    <div class="input-group-prepend" style="align-self: center">
        <MatNumericUpDownField style="@DefaultControlStyleTopScaled" Minimum="0"
                               Label="Max Number of Search Items" 
                               @bind-Value="@MaxElements"
                               @onkeyup="CountItemsChanged">
        </MatNumericUpDownField>
    </div>

    <SearchFieldDateTime @ref="FromDateTime" Name="From" />
    <SearchFieldDateTime @ref="ToDateTime" Name="To" />
</div>

@using Microsoft.Extensions.Configuration;
@using System.Threading
@using System.Runtime.InteropServices.WindowsRuntime
@using System.Globalization

@inject IConfiguration  _configuration;

@code {

    const int MaxElementsHighest = 2000;

    private SearchFieldDateTime _fromDateTime;
    private SearchFieldDateTime _toDateTime;
    // ReSharper disable once UnusedMember.Local
    private SearchFieldDateTime FromDateTime
    {
        get => _fromDateTime;
        set { _fromDateTime = value; TextChanged(); }
    }
    // ReSharper disable once UnusedMember.Local
    private SearchFieldDateTime ToDateTime
    {
        get => _toDateTime;
        set { _toDateTime = value; TextChanged(); }
    }

    // ReSharper disable once FieldCanBeMadeReadOnly.Local
    private string _text = String.Empty;

    public string Text
    {
        get => _text;
        set { _text = value; TextChanged(); }
    }

    const int MaxElementsDefault = 100;

    private int _maxElements = MaxElementsDefault;
    private int _maxElementsSearched = MaxElementsDefault;

    public bool Searching { get; set; }
    public bool NotSearching => !Searching;

    static string GetSearchingStyle(bool state)
    {
        return state ? "color: green" : "visibility: hidden";
    }

    public string Style { get; set; } = GetSearchingStyle(false);

    const int DefaultDelay = 100;
    Task _delayTask = Task.CompletedTask;
    System.Threading.CancellationTokenSource _tokenSource;

    public int MaxElements
    {
        get => _maxElements;
        set
        {
            _maxElements = value < MaxElementsHighest ? value : MaxElementsHighest;
            ExecuteCurrentSearch();
        }
    }

    public void DisplaySpinningSearch(bool state)
    {
        Searching = state;
        Style = GetSearchingStyle(state);
        InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        _maxElements = _configuration.GetValue<int>("MaxLogQueryResultLines");
    }

    string _lastQuery = String.Empty;
    string _currentQuery = String.Empty;


    string ButtonContent => (_buttonStateCurrentlyExecutingSearch == false) ? "Search" : "Abort";

    private bool _buttonStateCurrentlyExecutingSearch = false;

    string ButtonBackground => (_buttonStateCurrentlyExecutingSearch == true) ?
            ButtonRedDefaultLayout : ButtonGreenDefaultLayout;

    private void SetDefaultState()
    {
        _buttonStateCurrentlyExecutingSearch = false;
        InvokeAsync(StateHasChanged);
    }

    private void SetSearchIsExecutingNowState()
    {
        _buttonStateCurrentlyExecutingSearch = true;
        InvokeAsync(StateHasChanged);
    }

    private void ButtonSearchOrAbort()
    {

        if (_buttonStateCurrentlyExecutingSearch)
            AbortCurrentSearch();

        SetLastQuery(_lastQuery + "#"); // Ensure that a search is executed

        InternalCheckCurrentSearchTextAndExecuteIfDifferentToLastDelayedAndThrottled(DefaultDelay);

    }

    private void AbortCurrentSearch()
    {
        AbortInCaseOfRunning();
        SetDefaultState();
    }

    private void ExecuteCurrentSearch()
    {
        InternalCheckCurrentSearchTextAndExecuteIfDifferentToLastDelayedAndThrottled(DefaultDelay);
    }


    private void TextChanged()
    {
        ExecuteCurrentSearch();
    }

    private void CountItemsChanged()
    {
        ExecuteCurrentSearch();
    }

    private bool CheckCurrentSearchTextAndExecuteIfDifferentToLast()
    {
        lock (_lastQuery)
        {
            string currentQuery = _text + _maxElements.ToString() + _fromDateTime.Date.ToString() + _toDateTime.Date.ToString();
            if ((currentQuery == _lastQuery) && (_maxElementsSearched == _maxElements))
                return false;
            _currentQuery = currentQuery;
            _maxElementsSearched = _maxElements;

        }
        InvokeAsync(() =>
            OnSearchQueryChange(_text, _maxElements, _fromDateTime.Date, _toDateTime.Date));
        StateHasChanged();
        return true;
    }

    void AbortInCaseOfRunning()
    {
        _tokenSource?.Cancel();
        _delayTask?.Wait();
        _tokenSource?.Dispose();
        _tokenSource = null;
        _delayTask = null;
    }


    private void KeyPressed()
    {
        InternalCheckCurrentSearchTextAndExecuteIfDifferentToLastDelayedAndThrottled(DefaultDelay);
    }

    // Method will be called on each keystroke but it won't call immediately
    // CheckCurrentSearchTextAndExecuteIfDifferentToLast but wait for additional keystrokes to come in
    private void CheckCurrentSearchTextAndExecuteIfDifferentToLastDelayedAndThrottled()
    {
        InternalCheckCurrentSearchTextAndExecuteIfDifferentToLastDelayedAndThrottled(DefaultDelay);
    }

    bool _initialCall = false;

    private void InternalCheckCurrentSearchTextAndExecuteIfDifferentToLastDelayedAndThrottled(int delay)
    {
        if (_initialCall == false)
        {
            _initialCall = true;
            Task.Delay(DefaultDelay * 3).Wait(); // If we don't do that on startup an cancelled exception will be thrown
                                                 // because not everything has been initialized yet - the reason is not quite clear
                                                 // and in worst case on slower system the initial search might not be executed
                                                 // TODO: check if there is a RenderFinished call
        }
        else AbortInCaseOfRunning();
        _tokenSource = new System.Threading.CancellationTokenSource();
        var localToken = _tokenSource.Token;
        InvokeAsync(SetDefaultState);

        InternalExecuteSearchAsync(delay, localToken);

    }

    private void InternalExecuteSearchAsync(int delay, CancellationToken localToken)
    {
        _delayTask = Task.Run(async () =>
        {
            try
            {
                var token = localToken;
                await Task.Delay(delay, token);
                _ = InvokeAsync(() =>
                {
                    DisplaySpinningSearch(true);
                    InvokeAsync(SetSearchIsExecutingNowState);
                    if (!CheckCurrentSearchTextAndExecuteIfDifferentToLast())
                    {
                        DisplaySpinningSearch(false);
                        SetDefaultState();
                    }
                });
            }
            catch (Exception)
            {
                // ignored
            }

            SetLastQuery(_currentQuery);

            _ = InvokeAsync(SetDefaultState); // Ignore task here - otherwise UI is blocked
        }, _tokenSource.Token);
    }

    private void SetLastQuery(string query)
    {
        lock (_lastQuery)
        {
            _lastQuery = query;
        }
    }

    public Action<string, int, DateTimeOffset, DateTimeOffset> OnSearchQueryChange;
}