<div class="input-group-prepend search-margin" style="align-items:center;">
    <div class="d-flex justify-content-center align-items-center m-2">
        <input type="checkbox" aria-label="Date from" @bind-value="_enabledDate" class="form-check button-background" style="transform: scale(1.6);" />
    </div>
    <span class="input-group-text button-background mr-1" style="padding-left: 1.0rem;">@Name</span>
    <input type="date" aria-label="Search date" style="@(Style)" @bind-value="InternalDate" disabled="@(!EnabledDate)" @onchange="NewInput" @bind-value:event="oninput" class="form-control button-background mr-1" />
    <input type="time" aria-label="Search time" style="@(Style)" @bind-value="InternalTime" disabled="@(!EnabledDate)" @onchange="NewInput" @bind-value:event="oninput" class="form-control button-background mr-1" />
</div>

@code {

 

    [Parameter]
    public string Name { get; set; }

    public DateTimeOffset InternalDate { get; set; } = DateTimeOffset.Now;
    public DateTimeOffset InternalTime { get; set; } = DateTimeOffset.Now;

    DateTimeOffset Combine(DateTimeOffset date, DateTimeOffset time)
    {
        return new DateTimeOffset(date.Year, date.Month, date.Day, time.Hour, time.Minute, time.Second, default/* time.Offset // Don't use date time offset right now */ );
    }

    public DateTimeOffset Date => _enabledDate ? Combine(InternalDate, InternalTime) : default; // Default == disabled
    private bool _enabledDate = false;

    public bool EnabledDate
    {
        get => _enabledDate;
        set => _enabledDate = value;
    }

    string Style => _enabledDate ? "" : "visibility: hidden";

    public Action NewInput;

    public Action<DateTime> OnSearchQueryChange;
}